nav {
    
}
h1{
    color: blue;
    font-size: 30px;
    list-style: none;
    display: inline;
    float: left;
   margin-top: 0px;
   
}

nav ul li{
    display: inline;
    float: right;
    padding: 50px 60px;
    font-size: 30px;
    color: rgb(7, 7, 204);
}
body{
    background-image: url(images/image.jpg);
    

}

#phrase {
    /* text-align:center; */
    /* padding:0px; */

}
#phrase h1 {
    text-align: center;
    color: blueviolet;
}
img {
    width: 75%;
    float: left;
    /* align-items: initial;  */
    

}
    

